
@model IEnumerable<MVCMusicStoreApplication.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var artist in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => artist.Name)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = artist.ArtistId }) |
                @Html.ActionLink("Details", "Details", new { id = artist.ArtistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = artist.ArtistId })
            </td>
        </tr>
    }

</table>

