@model IEnumerable<MVCMusicStoreApplication.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var genre in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => genre.Name)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = genre.GenreId }) |
                @Html.ActionLink("Details", "Details", new { id = genre.GenreId }) |
                @Html.ActionLink("Delete", "Delete", new { id = genre.GenreId })
            </td>
        </tr>
    }

</table>



